<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <a class="site-title" href="http://pawsey.org.au"><img width="200" src="{{ '/' | absolute_url }}/logo.png"></a>
      <h1 class="project-name">Pawsey Supercomputing Centre</h1>
      <h2 class="project-tagline">Training Guides</h2>
      {% for item in site.data.pages.pages %}
        {% if page.url == item.url %}
        <a href="{{ '/' | absolute_url }}{{ item.url }}"><font color=white>{{ item.title }}</font></a>
        {% else %}
        <a href="{{ '/' | absolute_url }}{{ item.url }}">{{ item.title }}</a>
        {% endif %}
      {% endfor %}
     <br>  
    </section>

    <section class="main-content">

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">The <a href="https://pawsey.org.au">Pawsey Supercomputing Centre</a> is supported by $90 million funding as part of the Australian Government's measures to support national research infrastructure under the National Collaborative Research Infrastructure Strategy and related programs through the Department of Education.</span><br/>
      </footer>
    </section>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
