<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <a class="site-title" href="http://pawsey.org.au"><img width="200" src="{{ '/' | absolute_url }}assets/img/logo.png"></a>
      <h1 class="project-name">EDUCATION AND OUTREACH</h1>
      <h2 class="project-tagline">Course and Training Material</h2>
      {% for item in site.data.pages.pages %}
        {% if page.url == item.url %}
        <a href="{{ '/' | absolute_url }}{{ item.url }}" class="btn"><font color="#f15a29">{{ item.title }}</font></a>
        {% else %}
        <a href="{{ '/' | absolute_url }}{{ item.url }}" class="btn">{{ item.title }}</a>
        {% endif %}
      {% endfor %}
    </section>

    <section class="main-content">
      <div>
        <table>
          <colgroup>
            <col width="30%" />
            <col width="70%" />
          </colgroup>
          <thead>
          <tr class="header">
            <th>Training Guide</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
            {% if page.name == 'index.md'%}
              {% for item in site.data.links.links %}
                {% if item.pageid == 'training.md' %}
                  <tr>
                    <td markdown="span"><a href="{{ item.url }}">{{ item.title }}</a></td>
                    <td markdown="span">{{ item.description }}</td>
                  </tr>    
              {% endfor %}
            {% else %}
              {% for item in site.data.links.links %}
                {% if item.pageid == page.name %}
                  <tr>
                    <td markdown="span"><a href="{{ item.url }}">{{ item.title }}</a></td>
                    <td markdown="span">{{ item.description }}</td>
                  </tr>    
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
      <footer class="site-footer">
        <span class="site-footer-credits"></span><br/>
      </footer>
    </section>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
